<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

    <main>

        <div class="container flex">
            <div class="content">
                <h1>Learn to code by <br> watching others</h1>
                <p>So how experienced developer solve problems in real time.
                    Watching tutorials is great, but understanding how developers think is invaluable
                </p>
            </div>
            <div class="forms">
              <div class="form-container">
                <form action="/register" method="POST">
                    <fieldset>
                        <input class="form-controls controls" type="text" id="name" name="name" placeholder="Name" required>
                        <!-- <input class="form-controls" type="age" id="password" name="age"
                            placeholder="Age"> -->
                        <input class="form-controls" type="email" id="email" name="email" placeholder="Email" required>
                        <input class="form-controls" type="password" id="password" name="password"
                            placeholder="Password" required>
                    </fieldset>
                    <button class="btn controls-btn">Register</button>
                </form>
                <a href="/auth/github" class="github-login">Login using Github</a>
                <a href="/auth/google" class="google-login">Login using Google</a>
                <a href="/login" class="login">Already registered, login</a>
            </div>
            </div>
        </div>

    </main>

</body>

</html>