
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="/income/<%= income.id %>/edit" method="POST">
  
        <input type="text" name="source" id="" placeholder="source" value="<%= income.source %>" />
        <input type="number" name="amount" placeholder="amount" value="<%= income.amount %>" />
        <button>submit</button>
      </form>
    
</body>
</html>